/* Common style start */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

button, div {
    font-family: "Poppins", sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 14px;
    line-height: 26px;
}

.fullContainer {
    width: 100%;
}

.container {
    width: 1140px;
    margin: auto;
}

.sectionTitle {
    width: 300px;
    border-bottom: 3px solid #1f8cad;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
}

.sectionTitle::after {
    display: inline-block;
    margin-top: 6px;
    content: "";
    height: 15px;
    width: 15px;
    background-color: #1f8cad;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(75% - 7px);
    transform: rotate(45deg) translate(50%, 50%);
    border: 3px solid #fff;
}

section {
    padding: 100px 0;
    position: relative;
}

/* Common style end */

/* Home style start */

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
}

header .container .logo {
    padding: 15px 0;
    padding-left: 50px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li .link {
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    transition: 0.3s;
}

header nav ul li .link:hover {
    background-color: #1f8cad;
    border-radius: 5px;
}

.banner {
    min-height: 100vh;
    width: 100%;
    background-image: url(../public/images/banner.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.banner h1 {
    margin-top: 230px;
    display: inline-block;
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 0 0 2px #000;
    width: 50%;
    line-height: 4.2rem;
    font-weight: 100;
}

.banner h1 span {
    background-color: #1f8cad;
    display: inline-block;
    line-height: 3.5rem;
    padding: 0 15px;
    font-weight: 600;
    border-radius: 5px;
}

.banner p {
    color: #fff;
    width: 50%;
    text-shadow: 0 0 2px #000;
    margin-top: 10px;
}

.banner button {
    background-color: #1f8cad;
    border: 0;
    outline: none;
    color: #fff;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 13px;
    border-radius: 3px;
    font-weight: 600;
}

/* Home style end */


/* About section start */

#aboutSection .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
    height: 245px;
}

#aboutSection .cards > div {
    width: 350px;
    background-color: #efefef;
    padding: 35px;
    color: #444;
    text-align: center;
    border-radius: 5px;
    height: 215px;
    border: 1px solid #ccc;
    transition: 0.4s;
}

#aboutSection .cards > div:hover {
    width: 400px;
    margin-top: -20px;
    border-color: #1f8cad;
    padding: 55px;
    height: auto;
}

#aboutSection .cards > div .title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

#aboutSection .cards > div p {
    font-size: 14px;
    margin-top: 15px;
}

#aboutSection .cards > div button {
    border: 1px solid #1f8cad;
    outline: none;
    padding: 7px 15px;
    margin-top: 15px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

#aboutSection .cards > div:hover button {
    background-color: #1f8cad;
    color: #fff;
}

/* About section end */